<%= link_to('<< Back to List', sections_path, :class => 'back-link')%>

<h2>Update Section</h2>

<div class="sections update">
  <%= form_for(@section) do  |f| %>
      <%=	 render(:partial => 'form', :locals => {:f => f}) %>

      <div class="form-buttons">
        <%=	 f.submit('Update Section') %>
      </div>
  <% end %>
</div>