<% @page_title = 'Create new section' %>

<%= link_to section_path, :class => 'btn btn-secondary btn-back' do %>
    <i class="fa fa-arrow-left"></i>
    <span>Back to List</span>
<% end %>

<h2>Create Section</h2>

<div class="sections new">
  <%= form_for(@section, :html => {:class => 'form-edit'})  do  |f| %>
      <%=	 render(:partial => 'form', :locals => {:f => f}) %>

      <div class="form-buttons">
        <%=	 f.submit('Create Section') %>
      </div>
  <% end %>
</div>