<%= link_to('<< Back to List', pages_path, :class => 'back-link')%>

<h2>Edit Page</h2>

<div class="pages new">
  <%= form_for(@page) do  |f| %>
      <%=	 render(:partial => 'form', :locals => {:f => f}) %>

      <% @page_title = 'Edit page ' + f.object.name %>

      <div class="form-buttons">
        <%=	 f.submit('Edit Page') %>
      </div>
  <% end %>
</div>