<%= link_to('<< Back to List', subjects_path, :class => 'back-link')%>

<h2>Update Subject</h2>

<div class="subjects edit">
  <%= form_for(@subject) do  |f| %>
      <%=	 render(:partial => 'form', :locals => {:f => f}) %>

      <% @page_title = 'Edit subject ' + f.object.name %>

      <div class="form-buttons">
        <%=	 f.submit('Update Subject') %>
      </div>
  <% end %>
</div>