<% @page_title = 'New Admin user' %>

<%= link_to admin_users_path, :class => 'btn btn-secondary btn-back' do %>
    <i class="fa fa-arrow-left"></i>
    <span>Back to List</span>
<% end %>

<h2>Create Admin User</h2>

<div class="admin-users new">
  <%= form_for(@admin_user, :html => {:class => 'form-edit'})  do  |f| %>
      <%=	 render(:partial => 'form', :locals => {:f => f}) %>

      <div class="form-buttons">
        <%=	 f.submit('Create', :class => 'btn btn-primary')  %>
      </div>
  <% end %>
</div>