  <% if object && object.errors.size > 0 %>
    <div class="error-explanation">
      <ul class="alert alert-danger list-validation">
        <%	 object.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>