<% @page_title = @page.name %>

<div class="cms-page">
  <h2 class="cms-page-title"><%= @page.name %></h2>
  <p class="cms-page-meta"> <%= @page.created_at.strftime('%B %d, %Y %H:%M')%> by
    <a href="http://github.com/coderade">Coderade</a>
  </p>

  <% @page.sections.visible.sorted.each  do |section| %>
      <div class="section">
         <%= content_text_by_type(section) %>
      </div>
  <% end %>
</div>